.Caption
{
	font-family: medula-one-n4, serif;
}

.React-Header
{
	font-family: source-sans-pro-n7, sans-serif;
}

.Read-Subheader,.reviews_body
{
	font-family: open-sans-n3, sans-serif;
}

.Link,.Sub-Header
{
	font-family: open-sans-n4, sans-serif;
}

.Read-Headline,.genral-headr,.Header,.body2,.Body-3,.Body-4,.Body-5
{
	font-family: open-sans-n7, sans-serif;
}

.Paragraph-Style,.festival-2014
{
	font-family: open-sans-n6, sans-serif;
}

#u5675-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5641-6,#u5640-6,#u5642-6,#u5644-6,#u5677-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5682-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5684-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5672-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5673-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu5674_input,#widgetu5674_prompt,#widgetu5681_input,#widgetu5681_prompt,#widgetu5670_input,#widgetu5670_prompt
{
	font-family: open-sans, sans-serif;
}

#u5645-6
{
	font-family: open-sans-n3, sans-serif;
}

