.Caption
{
	font-family: medula-one-n4, serif;
}

.React-Header
{
	font-family: source-sans-pro-n7, sans-serif;
}

.Read-Subheader,.reviews_body
{
	font-family: open-sans-n3, sans-serif;
}

.Link,.Sub-Header
{
	font-family: open-sans-n4, sans-serif;
}

.Read-Headline,.genral-headr,.Header,.body2,.Body-3,.Body-4,.Body-5
{
	font-family: open-sans-n7, sans-serif;
}

.Paragraph-Style,.festival-2014
{
	font-family: open-sans-n6, sans-serif;
}

#u2224-6,#u8867-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8868-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8877-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8879-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8873-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8874-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu8866_input,#widgetu8866_prompt,#widgetu8876_input,#widgetu8876_prompt,#widgetu8871_input,#widgetu8871_prompt
{
	font-family: open-sans, sans-serif;
}

