.Caption
{
	font-family: medula-one-n4, serif;
}

.React-Header
{
	font-family: source-sans-pro-n7, sans-serif;
}

.Read-Subheader,.reviews_body
{
	font-family: open-sans-n3, sans-serif;
}

.Link,.Sub-Header
{
	font-family: open-sans-n4, sans-serif;
}

.Read-Headline,.genral-headr,.Header,.body2,.Body-3,.Body-4,.Body-5
{
	font-family: open-sans-n7, sans-serif;
}

.Paragraph-Style,.festival-2014
{
	font-family: open-sans-n6, sans-serif;
}

#u8238-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8237-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8224-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8226-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8231-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8232-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu8235_input,#widgetu8235_prompt,#widgetu8223_input,#widgetu8223_prompt,#widgetu8229_input,#widgetu8229_prompt
{
	font-family: open-sans, sans-serif;
}

#u9322-2,#u9323-2,#u9324-7,#u9325-6,#u9328-3,#u9327-3
{
	font-family: open-sans-n7, sans-serif;
}

#u9335-4,#u9423-4,#u9434-4,#u9442-4,#u9453-4,#u9460-4,#u9468-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9322,#u9322-4,#u9323,#u9323-4,#u9324,#u9325,#u9325-3,#u9328,#u9328-5,#u9327,#u9327-5,#u9326-5
{
	font-family: source-sans-pro-n7, sans-serif;
}

