.Caption
{
	font-family: medula-one-n4, serif;
}

.React-Header
{
	font-family: source-sans-pro-n7, sans-serif;
}

.Read-Subheader,.reviews_body
{
	font-family: open-sans-n3, sans-serif;
}

.Link,.Sub-Header
{
	font-family: open-sans-n4, sans-serif;
}

.Read-Headline,.genral-headr,.Header,.body2,.Body-3,.Body-4,.Body-5
{
	font-family: open-sans-n7, sans-serif;
}

.Paragraph-Style,.festival-2014
{
	font-family: open-sans-n6, sans-serif;
}

#u9610-4
{
	font-family: open-sans-n7, sans-serif;
}

#u9609-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9606-4
{
	font-family: open-sans-n7, sans-serif;
}

#u9607-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9599-4
{
	font-family: open-sans-n7, sans-serif;
}

#u9598-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu9608_input,#widgetu9608_prompt,#widgetu9604_input,#widgetu9604_prompt,#widgetu9596_input,#widgetu9596_prompt
{
	font-family: open-sans, sans-serif;
}

