.Caption
{
	font-family: medula-one-n4, serif;
}

.React-Header
{
	font-family: source-sans-pro-n7, sans-serif;
}

.Read-Subheader,.reviews_body
{
	font-family: open-sans-n3, sans-serif;
}

.Link,.Sub-Header
{
	font-family: open-sans-n4, sans-serif;
}

.Read-Headline,.genral-headr,.Header,.body2,.Body-3,.Body-4,.Body-5
{
	font-family: open-sans-n7, sans-serif;
}

.Paragraph-Style,.festival-2014
{
	font-family: open-sans-n6, sans-serif;
}

#u8830-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8831-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8840-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8842-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8836-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8837-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu8829_input,#widgetu8829_prompt,#widgetu8839_input,#widgetu8839_prompt,#widgetu8834_input,#widgetu8834_prompt
{
	font-family: open-sans, sans-serif;
}

